body{
    margin:auto;
    padding:0px;
    width:98%;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    font-family: Arial, Helvetica, sans-serif;
}
#header-part{
    margin: auto;
    display:flex;
    width:98%;
}
#header-part>div:nth-child(1){
    width:40%;
    
}
#header-part>div:nth-child(2){
    width:100%;
    
}
.head-navbar{
    display:inline;
    
    
}
.head-navbar>div:nth-child(1){
    
    display:flex;
    justify-content: space-evenly;
    width:80%;
    margin:auto;
}
.head-navbar>div:nth-child(1)>a{
   padding:5px 5px;
   border-right-style: solid;
   border-right-color:grey;
   font-size:15px;
   text-decoration:none;
   color:black;
}
.search-box>div:nth-child(1)>input{
   padding:8px;
   width:98%;
  
   text-align:center;
   border-radius:5px;
   border:2px solid grey;
   background-color:rgb(255, 255, 255)

  
}
.search-box{
    display:flex;
}
.search-box>div:nth-child(1){
   
    width:95%
}
.search-box>div{
margin-top:10px;
   
}


/* 2nd Navigation bar  */

#Navigation {
    margin:auto;
    margin-top:30px;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    width:98%;
    border:2px solid grey;
    padding: 0px 0px;
    border-radius:5px;

    
}
.custom-selector select>:nth-child(1){
    width:200px;
    font-size:20px;
}
.custom-selector select{
    width:95%;
    padding: 10px;
   border-radius:5px;
   
   text-align:center;
   word-spacing: 5px;
   letter-spacing: 2px;
   
    
}
#Navigation>.custom-selector>select{
    background-color:#f3f3f3 ;
}
#Navigation>.custom-selector{
    
    width:20%;
    padding:0px;
    
}
#Navigation>.custom-selector+div{
    
    width:85%;
    display:flex;
    justify-content: space-around;
    padding-top:5px;
    
    
    
    }
    #Navigation>.custom-selector+div>a{
        text-decoration: none;
        color:black;

        }
        #Navigation>.custom-selector+div>a:hover{
            background-color: #f3f3f3;
            padding:0px 14px;
        }

       /* content css */

       body{
        margin:auto;
        padding:0px;
        width:98%;
        box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
        border-radius:5px;
    }
     /* for div image1 */
    
     #img1{
        
        width:98%;
        margin:auto;
        height: 400px;
        border-radius:10px;
        margin-top:10px;
    }
    #img1>img{
        height:100%;
        width:100%;
        border-radius: 10px;
    }
    
    /* for container */
    
    #container{
        width:98%;
        margin-top:20px;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    
    .swiper{
    width:100%;
    
    height:auto;
    margin:auto;
    }
    .swiper-wrapper img{
        width:100%;
        border-radius: 10px;
        margin:auto;
    }
    
    .swiper .swiper-button-prev,.swiper .swiper-button-next{
        color:antiquewhite;
    }
    
    /* image3 */
    
    #image3{
        
        width:98%;
        display:flex;
       
        margin-top: 15px;
        justify-content: space-between;
    }
    #image3>div{
        width:30%;
        border-radius: 10px;
        
    }
    #image3>div>img{
        
        border-radius: 10px;
        
    }
    
    /* image 4 */
    
    #image4{
        width:98%;
        display:flex;
       
        margin-top: 15px;
        justify-content: space-between;
        
    }
    #image4>div>img{
        width:100%;
        border-radius: 10px;
        
    }
    #image4>div{
        padding: 20px;
        width:24%;
        border-radius: 10px;
        
    }
    
    /* image1 */
    .image1{
        width:98%;
        margin:auto;
        
        height:300px;
    }
    .image1>img{
        width:100%;
        height:100%;
        border-radius:10px;
    
    }
    
    /* button-img */
    #button-img{
        display:flex;
        width:98%;
        margin:auto;
        
    }
    #button-img>div{
        width:22%;
        text-align: center;
        margin:auto;
        padding-bottom:20px;
        
    }
    
    #button-img>div>img{
        width:100%;
        box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
        border-radius: 10px;
        
    }
    #button-img>div:hover{
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
        border-radius: 10px;
    }
    
    
    /* image_events */
    
    #image_events{
        width:98%;
        margin:auto;
        display: flex;
    }
    #image_events>div{
        width:30%;
        
        margin:auto;
    }
    #image_events>div>img{
        width:100%;
    }
    
    
    /* world_brands */
    
    #world_brands{
        width:98%;
        margin:auto;
        display: flex;
    }
    #world_brands>div{
        width:22%;
       
        margin:auto;
    }
    #world_brands>div>img{
        width:100%;
    }
    
    /* bottom section */

    #bottom_section{
        display: flex;
        width:98%;
        height:auto;
        background-color: rgb(251,251,251);
        
    }
    #bottom_section >div{
        width:20%;
        
    }
    #bottom_section >div>a>img{
        width:70%;
        
    }
    #bottom_section >.about{
       
        line-height:1.5pc;
        color:grey;
    }
    #bottom_section >.about>a{
       
        text-decoration:none;
        
    }
    #bottom_section >.news{
        
        line-height:1.5pc;
        color:grey;
    }
    #bottom_section >.news>a{
        
        text-decoration: none;
    }
    a:link{
        color:black;
    }
    a:visited{
        color:black;
    }
    #bottom_section >.policy{
       
        line-height:1.5pc;
        color:grey;
    }
    #bottom_section >.policy>a{
        
        text-decoration: none;
    }
    #footer{
        width:100%;
        
        display:flex;
    }

    #footer>.footer1{
        width:60%;
        
        height: 100px;
    }
    #footer>.footer1>img{
        margin:10px;
        
    }
    #footer>.footer2{
        width:40%;
       
        text-align:right;
    }
    #footer>.footer2>a>img{
       width:5%;
       margin-top:10px;
       margin:5px;
       
    }
   