body{
    margin:auto;
    padding:0px;
    width:98%;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}
#header-part{
    margin: auto;
    display:flex;
    width:98%;
}
#header-part>div:nth-child(1){
    width:40%;
    border:2px solid red;
}
#header-part>div:nth-child(2){
    width:100%;
    border:2px solid green;
}
.head-navbar{
    display:inline;
    
    
}
.head-navbar>div:nth-child(1){
    border:2px solid red;
    display:flex;
    justify-content: space-evenly;
    width:80%;
    margin:auto;
}
.head-navbar>div:nth-child(1)>a{
   padding:5px 5px;
   border-right-style: solid;
   border-right-color:blue;
   font-size:15px;
   text-decoration:none;
}
.search-box>div:nth-child(1)>input{
   padding:8px;
   width:98%;
  
   text-align:center;
   border-radius:5px;
   border:2px solid grey;
   background-color:rgb(255, 255, 255)

  
}
.search-box{
    display:flex;
}
.search-box>div:nth-child(1){
   
    width:95%
}
.search-box>div{
margin-top:10px;
   
}


/* 2nd Navigation bar  */

#Navigation {
    margin:auto;
    margin-top:30px;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    width:98%;
    border:2px solid grey;
    padding: 0px 0px;
    border-radius:5px;

    
}
.custom-selector select>:nth-child(1){
    width:200px;
    font-size:20px;
}
.custom-selector select{
    width:95%;
    padding: 10px;
   border-radius:5px;
   
   text-align:center;
   word-spacing: 5px;
   letter-spacing: 2px;
   
    
}
#Navigation>.custom-selector>select{
    background-color:#f3f3f3 ;
}
#Navigation>.custom-selector{
    
    width:20%;
    padding:0px;
    
}
#Navigation>.custom-selector+div{
    
    width:85%;
    display:flex;
    justify-content: space-around;
    padding-top:5px;
    
    
    
    }
    #Navigation>.custom-selector+div>a{
        text-decoration: none;
        color:black;

        }
        #Navigation>.custom-selector+div>a:hover{
            background-color: #f3f3f3;
            padding:0px 14px;
        }

       